.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(16, 16, 71);
}

.CreateEvent {
  background-color: white;
  min-height: 100vh;
  color: rgb(44, 44, 87);
}

.ShowEventList {
  background-color: white;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: rgb(16, 16, 71);
}

.ShowEventDetails {
  background-color: white;
  min-height: 100vh;
  color: rgb(16, 16, 71);
}

.UpdateEventInfo {
  background-color: white;
  min-height: 100vh;
  color: rgb(16, 16, 71);
}

.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  padding: 10px;
  border: 1px solid rgba(0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.card-img {
  padding: 10px;
}

.btn {
  background-color: rgb(48, 48, 142);
  border: none;
  color: white;
}

.btn-edit {
  background-color: rgb(15, 72, 28);
  border: none;
  color: white;
}

.btn-delete {
  background-color: rgb(106, 22, 36);
  border: none;
  color: white;
}

.btn:hover {
  background-color: rgb(67, 67, 236);
  border: none;
  color: white;
}


.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}